<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Products</title>
  </head>
  <body>
    <div>
      <h1><%= name %></h1>
      <h2><%= price %></h2>
      <h3><%= stock %></h3>
    </div>
    <a href="/products/<%= id %>/edit">edit this product</a>
  </body>
</html>
