<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Form</title>
  </head>
  <body>
    <h1>Sign Up form</h1>
    <form action="/signup" method="post">
      <div>
        <label for="name">Name</label><br />
        <input type="text" value="name" /><br />
      </div>
      <div>
        <label for="email">E-mail</label><br />
        <input type="text" name="email" /><br />
      </div>
      <div>
        <label for="phone">Phone</label><br />
        <input type="number" name="phone" /><br />
      </div>
      <div>
        <label for="dob"></label><br />
        <input type="date" name="dob" /><br />
      </div>
      <div>
        <label for="gender">Gender</label><br />
        <input type="text" name="gender" /><br />
      </div>
      <div>
        <label for="password">Password</label><br />
        <input type="password" name="password" /><br />
      </div>
      <button type="submit">SignUp User</button>
    </form>
  </body>
</html>
